
body
{
    background-color:rgb(00, 150, 00);
    overflow: hidden;
    overflow-x: hidden;
}

#points
{
position: relative;
left: 40%;
}

#gameover
{
    font-size: 30pt;
    position: relative;
    width: 200px;
    height: 50px;
    top: 750px;
    left: 40%;
    opacity: 0;
}

#game-over
{
    font-size: 100pt;
    position: relative;
    top: 20px;
    left: 28%;
    color:red;
    opacity: 0;
}